*{
  margin: 0;
  padding: 0;
}

body,html{
  background-color: rgb(253, 253, 253);
  height: 100%;
  width: 100%;
}

h3{
  background-color: darkslategrey;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: lightskyblue;
}

.middle{
  display: flex;
  flex-direction: row;
  background-color: rgb(253, 253, 253);
  height: 100%;
  width: 100%;
}

.middle p {
  margin: 15px;
}