.header-nav{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7%;
}

.header-nav-a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 25%;
}

a:hover{
    background-color: red;
}
